<script context="module">
  import { get } from "@/api";
  export async function preload(page, session) {
    const { user } = session;
    if (!user) {
      return this.redirect(302, "login");
    }
    const { slug } = page.params;

    const list = await get("businesses", { token: user.token });

    const business = list.find(item => item.slug === slug);

    if (business && business.id) {
      return { user, business };
    }

    if (business && business.error) {
      return this.error(business.error.status, business.error.message);
    }

    this.error(404, "Not found");
  }
</script>

<script>
  import * as api from "@/api";
  import { goto } from "@sapper/app";
  import { translate } from "@/stores/locale";
  import { refresh, current } from "@/stores/currentBusiness";
  import BusinessForm from "../_form.html";
  import * as form from "@/helpers/form";

  export let business;
  export let user;
  let states;
  $: states = form.setState({ ...business, del: null }, {}, form.INITIAL);

  async function save(event) {
    states = form.setState(states, event.detail, form.FETCHING);
    const response = await api.post(
      `businesses/${business.id}`,
      {
        params: stripStates(states)
      },
      {
        token: user.token
      }
    );

    if (response.error) {
      // TODO: handle network errors?
      states = form.setState(states, event.detail, form.FAILURE, {
        errors: response.error.errors
      });
      return;
    }
    // refresh currentBusiness
    refresh(user.token);
    states = form.setState(states, event.detail, form.SUCCESS);
    setTimeout(() => {
      states = form.setState(states, event.detail, form.INITIAL);
    }, 2000);
  }

  async function deleteHandler(event) {
    const res = await api.del(`businesses/${business.id}`, {
      token: user.token
    });

    if (res.error) {
      states = form.setState(states, { del: states.del }, form.FAILURE, {
        errors: { del: res.error.message }
      });
      return;
    }
    goto("/businesses");
  }

  function stripStates(states) {
    let data = {};
    Object.keys(states).forEach((key, i) => {
      data[key] = states[key].value;
    });
    return data;
  }
</script>

<svelte:head>
  <title>{business.name} • Piari</title>
</svelte:head>

<h1 class="text-2xl lg:text-3xl">
  {$translate("businessHeading", {name: business.name})}
</h1>

<BusinessForm
  key="{business.id}"
  on:save="{save}"
  {...states}
  {deleteHandler}
/>
