<script>
  export let status;
  export let error;
  import Container from "@/components/container";

  const dev = process.env.NODE_ENV === "development";

  function refresh() {
    location.reload();
  }
</script>

<svelte:head>
  <title>{status}</title>
</svelte:head>

<Container
  title="I'm sorry. I did something wrong :("
  subtitle="{error.message}"
>
  <button
    class="mb-6 font-bold rouded px-4 py-2 rounded-lg text-white bg-prim-700"
    on:click="{refresh}"
  >
    Try again
  </button>
</Container>

{#if dev && error.stack}
<pre>{error.stack}</pre>
{/if}
