<script>
  import HeaderBar from "@/components/header.html";
  import NavBar from "@/components/nav/index.html";
  import FooterBar from "@/components/footer.html";
  import Loading from "@/components/icons/loading";
  import { stores } from "@sapper/app";
  const { preloading } = stores();

  export let segment;
  let menuOpened = false;

  function handleToggle(event) {
    menuOpened = !menuOpened;
  }
</script>

<HeaderBar toggle="{handleToggle}" />
<div class="min-h-screen flex">
  <NavBar visible="{menuOpened}" toggle="{handleToggle}" {segment} />
  <main class="m-2 mt-16 xl:ml-24 w-full">
    {#if $preloading}
    <div class="flex w-full h-full justify-center items-center">
      <div class="w-6 h-6">
        <Loading />
      </div>
    </div>
    {:else}
    <slot></slot>
    {/if}
  </main>
</div>
<FooterBar />
