<script>
  import Modal from "@/components/modal";
  import Page from "./item.html";
  export let segment;
  export let toggle;
  export let visible = false;
</script>

<style>
  li {
    @apply text-neut-400 uppercase font-medium mx-2 my-4;
  }
</style>

<!-- Only for modal background and click event -->
{#if visible}
<div class="lg:hidden">
  <Modal on:close="{(event) => toggle(event)}"><div slot="modal"></div></Modal>
</div>
{/if}

<nav
  class='fixed lg:static lg:block z-50 lg:z-auto left-0 inset-y-0 bg-white {visible === false ? "hidden" : ""}'
>
  <ul class="mt-24">
    <li on:click="{(event) => toggle(event)}">
      <Page link="." label="home" segment='{segment || "home"}' />
    </li>
    <li on:click="{(event) => toggle(event)}">
      <Page link="search" label="search" {segment} />
    </li>
    <li on:click="{(event) => toggle(event)}">
      <Page link="dashboard" label="dashboard" {segment} />
    </li>
    <li on:click="{(event) => toggle(event)}">
      <Page link="business" label="business" {segment} />
    </li>
    <li on:click="{(event) => toggle(event)}">
      <Page link="settings" label="settings" {segment} />
    </li>
  </ul>
</nav>
