<script>
  export let segment;
  export let link;
  export let label;
</script>

<style>
  .selected {
    @apply text-prim-700;
  }
  .link {
    @apply p-2 rounded-lg;
  }
  .link:hover {
    @apply bg-prim-000 text-prim-400;
  }
</style>

<a href="{link}">
  <div class='link {segment === label ? "selected" : ""}'>
    {label}
  </div>
</a>
