<script context="module">
  export async function preload(page, session) {
    const { user } = session;

    if (user) {
      return this.redirect(302, "/");
    }

    return {};
  }
</script>

<script>
  import Auth from "@/components/login/index.html";
</script>

<svelte:head>
  <title>Sign in • Piari</title>
</svelte:head>

<section class="max-w-md px-2 mt-12 m-auto">
  <h1 class="text-2xl mb-6">Sign In</h1>
  <div class="p-1 sm:p-4 rounded-lg bg-gray-200">
    <Auth type="google" />
    <Auth type="facebook" />
    <Auth type="email" />
  </div>
</section>
