<%= Enum.map(get_flash(@conn), fn {flash_key, flash_message} -> %>
  <section class="alert alert-<%= flash_key %>">
    <div class="flex">
      <p><%= flash_message %></p>
    </div>
  </section>
<% end) %>
