<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title><%= "Piari API" %></title>
<meta name="Piari Api Documentation">
<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>" defer></script>
