<!DOCTYPE html>
<html lang="<%= @locale %>">
  <%= render "_head.html", assigns %>
  <body class="font-display flex flex-col min-h-screen">
    <header class="bg-gray-700">
      <%= render_existing @view_module, "nav.html", assigns %>
    </header>
    <main role="main" class="flex-grow" >
      <%= render "_flash.html", assigns %>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
