<script>
  import { createEventDispatcher } from "svelte";
  import Container from "@/components/container";
  import Submit from "@/components/submit";
  import { translate } from "@/stores/locale";

  export let name, email, locale, del;
  export let deleteHandler;
  export let logoutHandler;
  const dispatch = createEventDispatcher();

  function submit(event) {
    dispatch("save", event.detail);
  }
</script>

<style>
  .btn {
    @apply px-4 py-2 rounded-lg text-white bg-prim-500;
  }
  .btn:hover {
    @apply bg-prim-700;
  }
  .btn-alert {
    @apply border border-sec-600 text-sec-700 bg-white;
  }
  .btn-alert:hover {
    @apply text-white bg-sec-700 border-sec-700 font-semibold;
  }
  .section {
    @apply mx-4 max-w-5xl;
  }
</style>

<form>
  <section class="section">
    <Container
      title='{$translate("accountOAuthTitle", {provider: "Github"})}'
      subtitle='{$translate("accountOAuthSubtitle", {provider: "Github"})}'
    >
      <button
        class="px-4 py-2 rounded-lg text-white bg-prim-500 hover:bg-prim-700"
      >
        {$translate("accountOAuthDisconnectButton")}
      </button>
    </Container>
    <Container title='{$translate("accountNameTitle")}' error="{name.error}">
      <div class="flex">
        <input
          type="text"
          name="{name.name}"
          class="form-input text-lg lg:text-xl text-neut-800 w-full"
          placeholder='{$translate("accountNameInputPlaceholder")}'
          bind:value="{name.value}"
        />
        <Submit on:click="{submit}" data="{name}" />
      </div>
    </Container>

    <Container
      title='{$translate("accountEmailTitle")}'
      subtitle='{$translate("accountEmailSubtitle")}'
      footer='{$translate("accountEmailFooter")}'
      error="{email.error}"
    >
      <div class="flex">
        <input
          type="email"
          name="{email.name}"
          class="form-input text-lg lg:text-xl text-neut-800 w-full"
          placeholder='{$translate("accountEmailInputPlaceholder")}'
          bind:value="{email.value}"
        />
        <Submit on:click="{submit}" data="{email}" />
      </div>
    </Container>

    <Container
      title='{$translate("accountLanguageTitle")}'
      footer='{$translate("accountLanguageFooter")}'
      error="{locale.error}"
    >
      <div class="flex">
        <select
          class="form-select text-lg lg:text-xl text-neut-800 w-full block"
          name="{locale.name}"
          bind:value="{locale.value}"
        >
          <option value="en">English</option>
          <option value="de">Deutsch</option>
          <option value="es">Español</option>
        </select>
        <Submit on:click="{submit}" data="{locale}" />
      </div>
    </Container>
  </section>
  <h2 class="text-2xl lg:text-3xl">{$translate("accountDangerHeading")}</h2>
  <section class="section">
    <Container
      title='{$translate("accountLogoutTitle")}'
      subtitle='{$translate("accountLogoutSubtitle")}'
    >
      <button
        class="mt-3 btn btn-alert"
        on:click="{logoutHandler}"
        type="button"
      >
        {$translate("accountLogoutButton")}
      </button>
    </Container>
    <Container
      title='{$translate("accountDeleteTitle")}'
      subtitle='{$translate("accountDeleteSubtitle")}'
      footer='{$translate("accountDeleteFooter")}'
      error="{del.error}"
    >
      <button
        class="mt-3 btn btn-alert"
        on:click="{deleteHandler}"
        type="button"
      >
        {$translate("accountDeleteButton")}
      </button>
    </Container>
  </section>
</form>
