<script context="module">
  import { get } from "@/api";
  export async function preload(page, session) {
    const { user } = session;

    if (!user) {
      return this.redirect(302, "login");
    }

    const account = await get(`users/${user.id}`, { token: user.token });

    if (account && account.id) {
      return { user, account };
    }

    if (account && account.error) {
      return this.error(account.error.status, account.error.message);
    }

    this.error(404, "Not found");
  }
</script>

<script>
  import { post } from "@/utils";
  import * as api from "@/api";
  import { goto, stores } from "@sapper/app";
  import { translate } from "@/stores/locale";
  import AccountForm from "./_form.html";
  import * as form from "@/helpers/form";
  const { session } = stores();

  export let account;
  export let user;
  let states = form.setState({ ...account, del: null }, {}, form.INITIAL);

  async function logoutHandler(event) {
    await post(`api/auth/logout`, { token: user.token });
    $session.user = null;
    goto("/");
  }

  async function save(event) {
    states = form.setState(states, event.detail, form.FETCHING);
    const response = await api.post(
      `users/${account.id}`,
      {
        params: stripStates(states)
      },
      {
        token: user.token
      }
    );

    if (response.error) {
      // TODO: handle network errors?
      states = form.setState(states, event.detail, form.FAILURE, {
        errors: response.error.errors
      });
      return;
    }

    states = form.setState(states, event.detail, form.SUCCESS);
    setTimeout(() => {
      states = form.setState(states, event.detail, form.INITIAL);
    }, 2000);
  }

  function stripStates(states) {
    let data = {};
    Object.keys(states).forEach((key, i) => {
      data[key] = states[key].value;
    });
    return data;
  }

  async function deleteHandler(event) {
    const res = await api.del(`users/${account.id}`, {
      token: user.token
    });

    if (res.error) {
      states = form.setState(states, { del: states.del }, form.FAILURE, {
        errors: { del: res.error.message }
      });
      return;
    }
    logoutHandler(event);
  }
</script>

<svelte:head>
  <title>Account • Piari</title>
</svelte:head>

<h1 class="text-2xl lg:text-3xl">{$translate("accountHeading")}</h1>

<AccountForm on:save="{save}" {...states} {deleteHandler} {logoutHandler} />
