<script>
  import { onMount } from "svelte";
  import { current, set } from "@/stores/currentBusiness";
  import { get } from "@/api";
  import { stores } from "@sapper/app";
  import DetailsMenu from "@/components/details";
  import Loading from "@/components/icons/loading"
  import SelectIcon from "@/components/icons/selection";
  import { translate } from "@/stores/locale";
  const { session } = stores();

  let businesses = fetchBusinesses()

  onMount(() => {
    if ($current) {
      return;
    }

    businesses.then(list => {
      if (list.length > 0) {
        set(list[0])
      }
    });
  });

  async function click(event) {
    businesses = fetchBusinesses()
  }

  function fetchBusinesses() {
    if (!$session.user) return;
    return get("businesses", { token: $session.user.token });
  }

 async function select(business) {
   set(business)
 }
</script>

<style>
 .item{
  @apply text-neut-400 rounded p-2 truncate;
 }
 .item:hover{
    @apply bg-prim-000 text-prim-400;
 }
 .flex > .truncateable {
     @apply flex-grow w-0
 }

@responsive  {
  .truncateable.w-full {
    width: 100% !important;
  }
}
</style>

{#if process.browser}
<div on:click={click} class="border border-neut-000 px-2 py-1 rounded-lg">
  <DetailsMenu>
    <div slot="summary" class="font-semibold relative p-1 lg:p-0 flex">
      <div class="mr-8 truncateable">
      {#if $current}
      <a href="/business/{$current.slug}/edit" class=""
      ><div class="truncate">{$current.name}</div></a
      >
      {:else}
      <p class="truncate">{$translate("businessSelectButton")}</p>
      {/if}
      </div>
      <div
        class="absolute right-0 inset-y-0 w-8 lg:w-6 bg-transparent hover:bg-neut-000 rounded"
      >
        <SelectIcon />
      </div>
    </div>
    <div class="lg:absolute lg:z-50 bg-white lg:m-2 lg:p-1 flex rounded lg:border-neut-100 lg:shadow-md">
      {#await businesses}
        <div class="h-8 w-8 m-auto lg:m-16"><Loading /></div>
      {:then items}
      <ul class="text-left truncateable lg:w-full lg:max-w-sm">
        {#each items as business}
        <li on:click={() => select(business)} class="item" role="button" >
          {business.name}
        </li>
        {/each}
        <li class="border-t border-neut-100 pt-1 mt-1">
          <a href="/business/new"><div class="item">{$translate("businessCreateButton")}</div></a>
        </li>
      </ul>
      {:catch}
      <div class="my-8 mx-2">
        <h2 class="font-medium">${translate("failedTitle")}</h2>
        <p class="text-neut-500 text-sm">${translate("failedDescription")}</p>
      </div>
      {/await}
    </div>
  </DetailsMenu>
</div>
{:else}
<div class="border border-neut-000 rounded-lg h-10 width mx-2"></div>
{/if}
