<script>
  export let active = false;

  async function handleClick(event) {
    active = false;
  }
</script>

<style>
  summary::-webkit-details-marker {
    display: none;
  }
  .details-reset > summary::before {
    display: none;
  }
</style>

<svelte:window on:click="{handleClick}" />

<details bind:open="{active}" class="relative details-reset">
  <summary class="list-none cursor-pointer outline-none">
    <slot name="summary"></slot>
  </summary>
  <slot></slot>
</details>
