<script>
  import { stores } from "@sapper/app";
  import MenuIcon from "@/components/icons/menu";
  import { translate } from "@/stores/locale";
  import BusinessSwitch from "@/components/contextSwitch";
  const { session } = stores();

  let visible = true;

  let last_scroll = 0;
  let scroll;
  function handle_scroll() {
    scroll = window.pageYOffset;
    visible = scroll < 50 || scroll < last_scroll;
    last_scroll = scroll;
  }
</script>

<style>
  @responsive {
    .navbar {
      transform: none;
      transition: transform 0.2s;
    }
    .navbar-visible {
      transform: translate(0, calc(100% + 1rem));
    }
  }
</style>

<svelte:window on:scroll="{handle_scroll}" />

<footer
  class="flex lg:hidden bg-white items-center justify-between w-full fixed p-2 inset-x-0 bottom-0 navbar border-t border-neut-200"
  class:navbar-visible="{!visible}"
>
  {#if $session.user}
  <div class="m-2">Search</div>
  <div class="flex-grow max-w-xs m-auto"><BusinessSwitch /></div>
  <div class="m-2">Create Offer</div>
  {:else}
  <a class="m-auto" href="login"
    ><div class="rouded px-4 py-2 rounded-lg text-white bg-prim-700">
      {$translate("signInButton")}
    </div></a
  >
  {/if}
</footer>
