<script>
  import { stores } from "@sapper/app";
  import { translate } from "@/stores/locale";
  import MenuIcon from "@/components/icons/menu";
  import BusinessSwitch from "@/components/contextSwitch";
  const { session } = stores();

  export let toggle;

  let visible = true;
  let last_scroll = 0;
  let scroll;
  function handle_scroll() {
    scroll = window.pageYOffset;
    visible = scroll < 50 || scroll < last_scroll;
    last_scroll = scroll;
  }
</script>

<style>
  .spacer {
    content: " ";
  }

  @responsive {
    .navbar {
      transform: none;
      transition: transform 0.2s;
    }
    .navbar-visible {
      transform: translate(0, calc(-100% - 1rem));
    }
  }
</style>

<svelte:window on:scroll="{handle_scroll}" />

<header
  class="bg-white flex items-center fixed px-2 inset-x-0 top-0 navbar"
  class:shadow="{scroll > 0}"
  class:navbar-visible="{!visible}"
>
  <button on:click="{toggle}" class="h-8 w-8 lg:hidden mr-2">
    <MenuIcon />
  </button>
  <div class="font-bold text-3xl">{$translate("introTitle")}</div>
  <div class="spacer flex-grow"></div>
  <div class="hidden w-1/4 xl:w-1/5 lg:flex items-center p-3">
    {#if $session.user}
    <div class="flex-grow">
      <BusinessSwitch />
    </div>
    <div class="ml-2 bg-prim-600 hover:bg-prim-700 rounded p-1 px-2 text-white">
      Create Offer
    </div>
    {/if}
  </div>
  <div class="spacer flex-grow-3"></div>
  <div class="hidden lg:block">Searchbar</div>
  {#if $session.user}
  <a href="account">{$translate("navAccountLabel")}</a>
  {:else}
  <a href="login" class="hidden lg:block">{$translate("signInButton")}</a>
  {/if}
</header>
