<script>
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();
</script>

<style>
  .modal-background {
    @apply inset-0 fixed;
    background: rgba(0, 0, 0, 0.3);
  }

  .modal {
    @apply absolute bg-white rounded-lg p-2 overflow-auto;
    left: 50%;
    top: 50%;
    width: calc(100vw - 4em);
    max-width: 32em;
    max-height: calc(100vh - 4em);
    transform: translate(-50%, -50%);
  }

  button {
    display: block;
  }
</style>

<div class="modal-background z-50" on:click='{() => dispatch("close")}'></div>

<slot name="modal">
  <div class="modal z-50">
    <slot name="header"></slot>
    <hr />
    <slot></slot>
    <hr />

    <button on:click='{() => dispatch("close")}'>close modal</button>
  </div>
</slot>
