<script>
  import { createEventDispatcher } from "svelte";
  import { translate } from "@/stores/locale";
  import Loading from "@/components/icons/loading";
  import Success from "@/components/icons/check";
  const dispatch = createEventDispatcher();

  // If a name prop exists, the component behaves like a normal button
  // and fires a click event with the name and value.
  // If no name prop exists, the component behaves like a submit button
  // to submit the whole form. It also fires a click event without further content.

  export let data = {};
  let initial = data.value;
  let visible = true;

  $: visible =
    initial === undefined ||
    initial !== data.value ||
    data.success === true ||
    data.loading === true;

  $: if (data.success) {
    initial = data.value;
  }

  async function handleClick(event) {
    let content = {};
    content[data.name] = data;
    dispatch("click", content);
  }
</script>

<style>
  .btn {
    @apply rounded-lg text-white bg-prim-500;
    min-width: 4rem;
    min-height: 1.5rem;
  }
  .btn:hover {
    @apply bg-prim-700;
    transition: all 0.2s;
  }
  .large {
    @apply px-4 py-2;
  }
  .small {
    @apply px-2 py-1 my-1 ml-2;
  }
  .disabled {
    @apply bg-neut-200 cursor-wait;
  }
  .disabled:hover {
    @apply bg-neut-200;
  }
</style>

{#if visible}
<button
  type='{initial ? "button" : "submit"}'
  on:click="{handleClick}"
  class='btn
        {initial ? "small" : "large"}
        {data.loading || data.success ? "disabled" : ""}'
  disabled="{data.loading || data.success}"
>
  {#if data.loading}
  <Loading classList="m-auto h-5 w-5" />
  {:else if data.success}
  <Success
    secondary="fill-current text-supp1-600"
    classList="m-auto h-6 w-6 fill-current text-neut-200"
  />
  {:else} {$translate("submitButton")} {/if}
</button>
{/if}
