<script>
  import Container from "@/components/container";
  export let promise;
  let loading = true;
  let error;
  let result;

  // Show loader afer 500ms
  let visible = false;
  setTimeout(() => (visible = true), 500);

  promise
    .then(res => {
      loading = false;
      if (res.error) {
        error = res.error;
        return;
      }
      result = res;
    })
    .catch(err => {
      loading = false;
      error = err;
    });

  function refresh() {
    location.reload();
  }
</script>

<style>
  svg {
    animation: 3s linear infinite svg-animation;
    max-width: 100px;
  }

  @keyframes svg-animation {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

  circle {
    animation: 1.8s ease-in-out infinite both circle-animation;
    display: block;
    fill: transparent;
    stroke: #2f3d4c;
    stroke-dasharray: 283;
    stroke-dashoffset: 260;
    stroke-width: 10px;
    transform-origin: 50% 50%;
  }

  @keyframes circle-animation {
    0%,
    25% {
      stroke-dashoffset: 260;
      transform: rotate(0);
    }

    50%,
    75% {
      stroke-dashoffset: 75;
      transform: rotate(45deg);
    }

    100% {
      stroke-dashoffset: 260;
      transform: rotate(360deg);
    }
  }
</style>

{#if loading}
<svg
  class='w-8 h-8 block m-auto my-8 {visible ? "" : "invisible"}'
  viewBox="0 0 100 100"
  xmlns="http://www.w3.org/2000/svg"
>
  <circle cx="50" cy="50" r="45" />
</svg>
{:else if error}
<Container
  title="I'm sorry. I did something wrong :("
  subtitle="{error.message || error}"
>
  <button
    class="mb-6 font-bold rouded px-4 py-2 rounded-lg text-white bg-prim-700"
    on:click="{refresh}"
  >
    Try again
  </button>
</Container>
{:else if result}
<slot {result}></slot>
{:else}
<h2 class="text-2xl font-medium mb-1 mt-6">
  Something bad happened. Please contact our support!
</h2>
{/if}
