<script>
  import { post } from "@/utils";
  const provider = "email";

  let email = "";
  let clicked = false;
  export let onErr;

  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
  }

  async function submit(event) {
    if (!validateEmail(email)) {
      event.preventDefault();
      onErr("Failed", "Invalid email");
      return;
    }

    // TODO: Error handling!
    const res = await post(`api/auth/login/${provider}`, { email });
    console.log(res);
  }

  function handleClick(event) {
    clicked = true;
  }
</script>

<style>
  .button {
    @apply border bg-white border-neut-300 flex items-center text-neut-600 px-2 py-1 rounded-lg;
  }
  .button:hover {
    @apply border-neut-500 text-neut-700;
  }
  .button:focus {
    @apply outline-none shadow-outline text-black;
  }
</style>

{#if clicked}
<form on:submit|preventDefault="{submit}" class="flex">
  <div class="button flex-grow mr-2">
    <input
      type="email"
      name="email"
      placeholder="Email"
      bind:value="{email}"
      class="w-full h-full"
      size="5"
    />
    <input type="hidden" name="provider" value="email" />
  </div>
  <button
    class="bg-neut-500 hover:bg-neut-600 text-white py-3 px-6 rounded-lg"
    type="submit"
    disabled="{!email}"
  >
    Sign in
  </button>
</form>
{:else}
<button class="button w-full" type="button" on:click="{handleClick}">
  <span class="w-10 h-10 mr-2"> </span>
  <span>Sign in with Email</span>
</button>
{/if}
