<script>
  import email from "./email.html";
  import facebook from "./facebook.html";
  import google from "./google.html";
  export let type;
  export let onErr;

  const options = {
    email,
    facebook,
    google
  };
</script>

<div class="m-2"><svelte:component this="{options[type]}" {onErr} /></div>
