<script>
  import { createEventDispatcher } from "svelte";
  import Container from "@/components/container";
  import Submit from "@/components/submit";
  import { translate } from "@/stores/locale";

  // Key is used to rebuild/reset the component on a business change
  export let key;
  export let name, phone, slug, del;
  export let deleteHandler;
  const dispatch = createEventDispatcher();
  const empty = name.value === "" && phone.value === "" && slug.value === "";

  function submit(event) {
    dispatch("save", { name, phone, slug });
  }

  function partialSubmit(event) {
    dispatch("save", event.detail);
  }
</script>

<style>
  .btn {
    @apply px-4 py-2 rounded-lg text-white bg-prim-500;
  }
  .btn:hover {
    @apply bg-prim-700;
  }
  .btn-neut {
    @apply text-neut-700 bg-white;
  }
  .btn-neut:hover {
    @apply text-neut-900 bg-white;
  }
  .btn-alert {
    @apply border border-sec-600 text-sec-700 bg-white;
  }
  .btn-alert:hover {
    @apply text-white bg-sec-700 border-sec-700 font-semibold;
  }
  .section {
    @apply mx-4 max-w-5xl;
  }
</style>

{#each [key] as k (k)}
<form on:submit|preventDefault="{submit}">
  <section class="section">
    <Container title='{$translate("businessNameTitle")}' error="{name.error}">
      <div class="flex">
        <input
          type="text"
          name="{name.name}"
          class="form-input text-lg lg:text-xl text-neut-800 w-full"
          placeholder='{$translate("businessNameInputPlaceholder")}'
          bind:value="{name.value}"
        />
        {#if !empty}<Submit on:click="{partialSubmit}" data="{name}" />{/if}
      </div>
    </Container>

    <Container
      title='{$translate("businessSlugTitle")}'
      subtitle='{$translate("businessSlugSubtitle")}'
      error="{slug.error}"
    >
      <div class="flex">
        <input
          type="text"
          name="{slug.name}"
          class="form-input text-lg lg:text-xl text-neut-800 w-full"
          placeholder="piari"
          bind:value="{slug.value}"
        />
        {#if !empty}<Submit on:click="{partialSubmit}" data="{slug}" />{/if}
      </div>
    </Container>

    <div class="mt-10 mb-16">
      <Container
        title='{$translate("businessPhoneTitle")}'
        footer='{$translate("businessPhoneFooter")}'
        error="{phone.error}"
      >
        <div class="flex">
          <input
            type="tel"
            name="{phone.name}"
            class="form-input text-lg lg:text-xl
          text-neut-800 w-full"
            placeholder='{$translate("businessPhoneInputPlaceholder")}'
            bind:value="{phone.value}"
          />
          {#if !empty}<Submit on:click="{partialSubmit}" data="{phone}" />{/if}
        </div>
      </Container>
    </div>
  </section>
  {#if deleteHandler}
  <h2 class="text-2xl lg:text-3xl">{$translate("businessDangerHeading")}</h2>
  <section class="section">
    <Container
      title='{$translate("businessDeleteTitle")}'
      subtitle='{$translate("businessDeleteSubtitle")}'
      footer='{$translate("businessDeleteFooter")}'
      error="{del.error}"
    >
      <button
        class="mt-3 btn btn-alert"
        on:click="{deleteHandler}"
        type="button"
      >
        {$translate("businessDeleteButton", {name: name.value})}
      </button>
    </Container>
  </section>
  {/if}
  <section class="section flex justify-end">
    {#if empty}
    <Submit />
    {/if}
  </section>
</form>
{/each}
