<script context="module">
  export async function preload(page, session) {
    const { user } = session;
    if (!user) {
      return this.redirect(302, "login");
    }
    return { user };
  }
</script>

<script>
  import { post } from "@/api";
  import { goto } from "@sapper/app";
  import { translate } from "@/stores/locale";
  import BusinessForm from "./_form.html";
  import * as form from "@/helpers/form";

  export let user;
  const business = {
    name: "",
    slug: "",
    phone: ""
  };
  let states = form.setState(business, {}, form.INITIAL);

  async function save(event) {
    states = form.setState(states, event.detail, form.FETCHING);
    const response = await post(
      `businesses`,
      {
        params: stripStates(states)
      },
      {
        token: user.token
      }
    );

    if (response.error) {
      // TODO: handle network errors?
      states = form.setState(states, event.detail, form.FAILURE, {
        errors: response.error.errors
      });
      return;
    }
    goto("/");
  }
  function stripStates(states) {
    let data = {};
    Object.keys(states).forEach((key, i) => {
      data[key] = states[key].value;
    });
    return data;
  }
</script>

<h1 class="text-2xl lg:text-3xl">
  {$translate("businessHeading", {name: "undefined"})}
</h1>

<BusinessForm {...states} on:save="{save}" />
