<%= gettext "Your Sign In is ready" %>!
<%= gettext "Click on the link to securely sign-in to Piari" %>: <%= @url %>
<%= gettext "Some tried to login to Piari with this email address. If this was not you, please ignore this email. Otherwise, click on the Sign In button and enjoy Piari" %>!

<%= gettext "Your Piari Team" %>

Piari, Samuu S.R.L.
Colonia Neuland, Chaco, Paraguay
