<%= gettext "Verify your account" %>!
<%= gettext "Click on the link to verify this email address belongs to you." %>: <%= @url %>

<%= gettext "Your Piari Team" %>

Piari, Samuu S.R.L.
Colonia Neuland, Chaco, Paraguay
