<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Custom Fonts in HTML Emails</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />

    <style type="text/css" media="screen">
     [style*=’Open Sans’] {
       font-family: ‘Open Sans’, Arial, sans-serif !important
     }
    </style>
  </head>
  <body>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td style="color: #000000; font-family: Arial, sans-serif, ‘Open Sans’; font-size: 14px; line-height: 18px; text-align: center"><%= gettext "Welcome to Piari, %{name}", name: @name %>!</td>
      </tr>
    </table>
  </body>
</html>
